@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #2094fa;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #0f1e33;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #0f1e33;
    --destructive: #ff4141;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --label: #666666;
    --ring: #0a0a0a;
    --chart-1: #d95b43;
    --chart-2: #299392;
    --chart-3: #263e4d;
    --chart-4: #dfb938;
    --chart-5: #f08634;
    --radius: 1rem;
  }
  [data-mode="dark"] {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #2094fa;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a2a2a2;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #b22222;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --label: #f1f1f1;
    --ring: #d4d4d4;
    --chart-1: #3399ff;
    --chart-2: #339966;
    --chart-3: #ff9933;
    --chart-4: #cc66ff;
    --chart-5: #ff3399;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply text-[10px];
  }
  body {
    @apply bg-background text-foreground;
  }
}
