@tailwind components;

@layer components {
  button[role="checkbox"] {
    @apply size-[1.5rem] shrink-0 overflow-hidden rounded-[0.5rem] border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground;
  }
  button[role="checkbox"] > span {
    @apply flex size-full items-center justify-center text-current;
  }
  button[role="checkbox"] + label {
    @apply text-label text-[1.3rem] font-medium;
  }
  button[role="checkbox"]:disabled + label {
    @apply cursor-not-allowed opacity-70;
  }
}
