@tailwind components;

@layer components {
  .loading {
    @apply animate-spin-parent absolute left-1/2 top-1/2 size-full;
  }
  .spinner {
    @apply animate-spin-child inline-block size-full;
  }
  .loading-animation .spinner {
    @apply rounded-full border-[0.3rem];
  }
  .loading-animation .spinner.primary {
    @apply border-t-primary;
  }
  .loading-animation .spinner.secondary {
    @apply border-t-white;
  }
  .loading-image {
    @apply duration-1000;
  }
  .loading-image .spinner.primary {
    @apply bg-[url('/assets/images/loading_primary.png')] bg-no-repeat duration-0;
  }
  .loading-image .spinner.secondary {
    @apply bg-[url('/assets/images/loading_secondary.png')] bg-no-repeat duration-0;
  }
}
